@charset "UTF-8";
/* CSS Document */

			.homelink{
			margin-left: 15px;
			margin-right: 15px;
			text-decoration: none;

		}
			.linktable{
			font-size: 30px;
			word-spacing: -12px;
			border: solid;
			border-color: #eeeeee;
			border-width: 5px;
			margin-left: 20px;
			background-color: #151515;
}